Source: meeprey
Section: user/other
Priority: optional
Maintainer: Najath Abdul Azeez <najath@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: meeprey
Architecture: any
Depends: curl, bash, python-pyside, ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
XSBC-Maemo-Display-Name: meePrey
